<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper>
<configuration debug="false">
    <!-- 警告以下级别消息打印-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern><![CDATA[
               %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}-%msg%n
            ]]></pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="com.huangtl.blogmgr.core.log.LogLevelFilter">
            <lessThan>WARN</lessThan>
        </filter>
    </appender>
    
    <!-- 警告以上级别消息打印-->
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern><![CDATA[
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}-%msg%n
            ]]></pattern>
            <charset>utf-8</charset>
        </encoder>
        <filter class="com.huangtl.blogmgr.core.log.LogLevelFilter">
            <greaterThan>INFO</greaterThan>
        </filter>
    </appender>

    <!-- 一天产生一个日志文件，且只保存最近60天的日志文件 -->
     <appender name="DailyRoll" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>E:/Data/pld/log/today.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>E:/Other/blogmgr/log/%d.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern><![CDATA[
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36}-%msg%n
            ]]></pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender> 
    <!-- %n%-4r [%d{yyyy-MM-dd HH:mm:ss} %X{productionMode}] - %X{method} %X{requestURIWithQueryString} [ip=%X{remoteAddr}, ref=%X{referrer}, ua=%X{userAgent}, sid=%X{cookie.JSESSIONID}]%n  %-5level %logger{35} - %m%n -->
    
    <!-- additivity 是否向上级传递，默认为true -->
   <!-- <logger name="com.huangtl.blogmgr.service" level="debug" ></logger>-->
   <!--  <logger name="com.huangtl.blogmgr.action" level="debug" ></logger>
    <logger name="com.huangtl.blogmgr.dao" level="debug" ></logger>
    <logger name="com.huangtl.blogmgr.model" level="debug" ></logger>
    <logger name="com.huangtl.blogmgr.handler" level="debug" ></logger> -->
    <!-- <logger name="com.huangtl.blogmgr.core" level="debug" ></logger> -->
    <!--<logger name="druid.statlog" level="info" ></logger>-->
    
    <!-- level: TRACE, DEBUG, INFO, WARN, ERROR, ALL , OFF .默认是DEBUG -->
    <root>
        <level value="debug" />
        <appender-ref ref="STDERR" />
        <appender-ref ref="STDOUT" />
    </root>
    
</configuration>
