<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangtl.blogmgr.model.blog.Menu">

	<resultMap id="map" type="com.huangtl.blogmgr.model.blog.Menu" >
		<id property="fId" column="mu_Id"/>
		<result property="fName" column="mu_Name"/>
		<result property="fParentId" column="mu_ParentId" />
		<result property="fIcon" column="mu_Icon"/>
		<result property="fViewClass" column="mu_ViewClass"/>
		<result property="fUrl" column="mu_Url"/>
		<result property="fOrder" column="mu_Order"/>
		<result property="fDescr" column="mu_Descr"/>
		<result property="fGlyph" column="mu_Glyph"/>
		<result property="fExpand" column="mu_Expand"/>
		<result property="fType" column="mu_Type"/>
		<result property="fUsability" column="mu_Usability"/>
	</resultMap>
	
	<sql id="where">
		 <trim prefix="where" prefixOverrides="and|or">
		 	<if test="defaultWhere!=null and defaultWhere">
		 		1=1
		 	</if>
			<if test="fId_eq !=null ">
				and mu_Id = #{fId_eq}
			</if>
			<if test="fParentId_eq != null">
				and mu_ParentId = #{fParentId_eq}
			</if>
			<if test="fType_eq != null">
				and mu_Type = #{fType_eq}
			</if>
			<if test="fUsability_eq != null">
				and mu_Usability = #{fUsability_eq}
			</if>
			<if test="fId_in !=null ">
				and mu_Id in
				<foreach collection="fId_in" open="(" item="id" separator="," close=")">
					#{id}
				</foreach>
			</if>
		</trim>
	</sql>
	
	<sql id="order">
		<if test="sorts != null and sorts.size() != 0">
			order by 
			<foreach collection="sorts" separator="," index="key" item="val">
				${key} ${val}
			</foreach>
		</if>
	</sql>
	
	<insert id="insert" parameterType="com.huangtl.blogmgr.model.blog.Menu">
		insert into mgr_menu(
			mu_Id,mu_Name,mu_Type
			<if test="fParentId !=null">,mu_ParentId</if>
			<if test="fIcon !=null">,mu_Icon</if>
			<if test="fUrl !=null">,mu_Url</if>
			<if test="fOrder !=null">,mu_Order</if>
			<if test="fDescr !=null">,mu_Descr</if>
			<if test="fGlyph !=null">,mu_Glyph</if>
			<if test="fExpand !=null">,mu_Expand</if>
			<if test="fViewClass !=null">,mu_ViewClass</if>
			<if test="fUsability !=null">,mu_Usability</if>
		) values(
			#{fId},#{fName},#{fType}
			<if test="fParentId !=null">,#{fParentId}</if>
			<if test="fIcon !=null">,#{fIcon}</if>
			<if test="fUrl !=null">,#{fUrl}</if>
			<if test="fOrder !=null">,#{fOrder}</if>
			<if test="fDescr !=null">,#{fDescr}</if>
			<if test="fGlyph !=null">,#{fGlyph}</if>
			<if test="fExpand !=null">,#{fExpand}</if>
			<if test="fViewClass !=null">,#{fViewClass}</if>
			<if test="fUsability !=null">,#{fUsability}</if>
		);
	</insert>

	<select id="selectList" resultMap="map" parameterType="map">
		select mu_Id,mu_Name,mu_ParentId,mu_Icon,mu_Url,mu_Glyph,mu_ViewClass,mu_Usability
		from mgr_menu
		<include refid="where"/>
		order by mu_Order
	</select>
	
	<select id="selectCount"  resultType="long" parameterType="map">
	  select count(mu_Id) from mgr_menu
		<include refid="where"/>
	</select>
	
	<select id="selectPaging" resultMap="map" parameterType="map">
		select mu_Id as fId,mu_Name,mu_ParentId,mu_Icon,mu_Url,mu_ViewClass,mu_Type,mu_Glyph,mu_Order as fOrder,mu_Usability
		from mgr_menu
		<include refid="where"/>
		<include refid="order"/>
		limit #{startIndex},#{pageSize}
	</select>
	
	<delete id="delete" parameterType="map">
		delete from mgr_menu
		<include refid="where"/>
	</delete>
	
	<update id="update" parameterType="map" >
		update mgr_menu  
		<trim prefix="set" suffixOverrides=",">
			<if test="fName !=null ">mu_Name = #{fName},</if>
			<if test="fParentId !=null ">mu_ParentId = #{fParentId},</if>
			<if test="fIcon !=null ">mu_Icon = #{fIcon},</if>
			<if test="fUrl !=null ">mu_Url = #{fUrl},</if>
			<if test="fViewClass !=null ">mu_ViewClass = #{fViewClass},</if>
			<if test="fType !=null ">mu_Type = #{fType},</if>
			<if test="fGlyph !=null ">mu_Glyph = #{fGlyph},</if>
			<if test="fOrder !=null ">mu_Order = #{fOrder},</if>
			<if test="fUsability !=null ">mu_Usability = #{fUsability},</if>
		</trim>
		<include refid="where"/>
	</update>
	
	<update id="updateBatch" parameterType="list">
		 <foreach collection="list" item="menu" index="index" open="" close="" separator=";">
				update mgr_menu 
				<trim prefix="set" suffixOverrides=",">
					<if test="menu.fName !=null ">mu_Name = #{menu.fName},</if>
					<if test="menu.fParentId !=null ">mu_ParentId = #{menu.fParentId},</if>
					<if test="menu.fIcon !=null ">mu_Icon = #{menu.fIcon},</if>
					<if test="menu.fUrl !=null ">mu_Url = #{menu.fUrl},</if>
					<if test="menu.fViewClass !=null ">mu_ViewClass = #{menu.fViewClass},</if>
					<if test="menu.fType !=null ">mu_Type = #{menu.fType},</if>
					<if test="menu.fGlyph !=null ">mu_Glyph = #{menu.fGlyph},</if>
					<if test="menu.fOrder !=null ">mu_Order = #{menu.fOrder},</if>
					<if test="menu.fUsability !=null ">mu_Usability = #{menu.fUsability},</if>
				</trim>
				where mu_Id = #{menu.fId}
		 </foreach>
	</update>
	
</mapper>