<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huangtl.blogmgr.model.blog.Menu">

	<resultMap id="map" type="com.huangtl.blogmgr.model.blog.Menu" >
		<id property="fId" column="mu_Id"/>
		<result property="fName" column="mu_Name"/>
		<result property="fParentId" column="mu_ParentId" />
		<result property="fIcon" column="mu_Icon"/>
		<result property="fViewClass" column="mu_ViewClass"/>
		<result property="fUrl" column="mu_Url"/>
		<result property="fOrder" column="mu_Order"/>
		<result property="fDescr" column="mu_Descr"/>
		<result property="fGlyph" column="mu_Glyph"/>
		<result property="fExpand" column="mu_Expand"/>
		<result property="fType" column="mu_Type"/>
	</resultMap>
	
	<sql id="where">
		 <trim prefix="where" prefixOverrides="and|or">
		 	<if test="defaultWhere">
		 		1=1
		 	</if>
			<if test="fId_eq !=null ">
				and mu_Id = #{fId_eq}
			</if>
			<if test="fParentId_eq != null">
				and mu_ParentId = #{fParentId_eq}
			</if>
			<if test="fType_eq != null">
				and mu_Type = #{fType_eq}
			</if>
		</trim>
	</sql>
	
	<sql id="order">
		<if test="sorts != null and sorts.size() != 0">
			order by 
			<foreach collection="sorts" separator="," index="key" item="val">
				${key} ${val}
			</foreach>
		</if>
	</sql>
	
	<insert id="insert" parameterType="com.huangtl.blogmgr.model.blog.Menu">
		insert into mgr_menu(
			mu_Id,mu_Name,mu_ParentId,mu_Icon,mu_Url,mu_Order,mu_Descr,mu_Glyph,mu_Expand,mu_ViewClass,mu_Type
		) values(
			#{fId},#{fName},#{fParentId},#{fIcon},#{fUrl},#{fOrder},#{fDescr},#{fGlyph},#{fExpand},#{fViewClass},#{mu_Type}
		);
	</insert>

	<select id="selectList" resultMap="map" parameterType="map">
		select mu_Id,mu_Name,mu_ParentId,mu_Icon,mu_Url,mu_Glyph,mu_Expand,mu_ViewClass
		from mgr_menu
		<include refid="where"/>
		order by mu_Order
	</select>
	
	<select id="selectCount"  resultType="long" parameterType="map">
	  select count(mu_Id) from mgr_menu
		<include refid="where"/>
	</select>
	
	<select id="selectPaging" resultMap="map" parameterType="map">
		select mu_Id as fId,mu_Name,mu_ParentId,mu_Icon,mu_Url,mu_ViewClass,mu_Type,mu_Glyph,mu_Order as fOrder
		from mgr_menu
		<include refid="where"/>
		<include refid="order"/>
		limit #{startIndex},#{pageSize}
	</select>
	
	<delete id="delete" parameterType="map">
		delete from mgr_menu
		<include refid="where"/>
	</delete>
	
	<delete id="deleteBatch" parameterType="list">
		delete from mgr_menu where mu_Id in 
		<foreach collection="list" open="(" item="id" separator="," close=")">
			#{id}
		</foreach>
	</delete>
	
	<update id="update">
		
	</update>
	
	
</mapper>