/*------------------------------------------------rating组件*/
.ux-rating-picker {
	overflow:hidden;
	color:#ccc;
	filter:alpha(opacity=80);
	opacity:.8;
	display:inline-block;
	vertical-align:top;
	line-height:1
}
.ux-rating-picker-inner {
	position:relative;
	overflow:hidden;
	display:inline-block;
	vertical-align:top;
	cursor:pointer;
	white-space:nowrap
}
.ux-rating-picker-over.ux-rating-picker-track-over {
	color:#ccc
}
.ux-rating-picker-over.ux-rating-picker-track-over>*>.ux-rating-picker-value {
	display:none;
	width:0
}
.ux-rating-picker-over.ux-rating-picker-track-over>*>.ux-rating-picker-value:hover {
	color:inherit
}
.ux-rating-picker-over.ux-rating-picker-track-over>*>.ux-rating-picker-tracker {
	display:inline-block
}
.ux-rating-picker-value,.ux-rating-picker-tracker {
	overflow:hidden;
	position:absolute;
	white-space:nowrap;
	top:0;
	width:0;
	height:100%;
	color:#ffe850
}
.ux-rating-picker-tracker {
	display:none
}
.ux-rating-picker-over {
	filter:alpha(opacity=100);
	opacity:1
}

/*------------------------------------------------操作消息提示*/
/*toast-info */
.overrides-toast-info{}
.overrides-toast-info.x-window-body-default{
	background-color:rgba(183, 227, 256, 0.4);
}
.overrides-toast-info .x-autocontainer-outerCt{
	letter-spacing:0.5px;
	font-weight:bold;
}
/*toast-success */
.overrides-toast-success{}
.overrides-toast-success.x-window-default{
	border-color:rgba(38, 185, 154, 0.88)
}
.overrides-toast-success.x-window-header-default{
	border-color:rgba(38, 200, 154, 0.88)
}
.overrides-toast-success.x-window-header-default-top{
	background-color:rgba(38, 185, 154, 0.88)
}
.overrides-toast-success.x-window-body-default{
	border-color:rgba(38, 185, 154, 0.88);
	background-color:rgba(90, 200, 150, 0.2);
}
.overrides-toast-success .x-autocontainer-outerCt{
	letter-spacing:0.5px;
	font-weight:bold;
}
/*toast-warn */
.overrides-toast-warn{}
.overrides-toast-warn.x-window-default{
	border-color:rgba(243, 156, 18, 0.88)
}
.overrides-toast-warn.x-window-header-default{
	border-color:rgba(243, 171, 18, 0.88)
}
.overrides-toast-warn.x-window-header-default-top{
	background-color:rgba(243, 156, 18, 0.88)
}
.overrides-toast-warn.x-window-body-default{
	border-color:rgba(243, 156, 18, 0.88);
	background-color:rgba(243, 156, 18, 0.1);
}
.overrides-toast-warn .x-autocontainer-outerCt{
	letter-spacing:0.5px;
	font-weight:bold;
}
/*toast-error */
.overrides-toast-error{}
.overrides-toast-error.x-window-default{
	border-color:rgba(231, 76, 60, 0.88)
}
.overrides-toast-error.x-window-header-default{
	border-color:rgba(231, 103, 60, 0.88)
}
.overrides-toast-error.x-window-header-default-top{
	background-color:rgba(231, 76, 60, 0.88)
}
.overrides-toast-error.x-window-body-default{
	border-color:rgba(231, 76, 60, 0.88);
	background-color:rgba(231, 76, 60, 0.1);
}
.overrides-toast-error .x-autocontainer-outerCt{
	letter-spacing:0.5px;
	font-weight:bold;
}
/*toast-exception */
.overrides-toast-exception{}
.overrides-toast-exception.x-window-default{
	border-color:rgba(52, 73, 94, 0.88)
}
.overrides-toast-exception.x-window-header-default{
	border-color:rgba(66, 96, 116, 0.88)
}
.overrides-toast-exception.x-window-header-default-top{
	background-color:rgba(52, 73, 94, 0.88)
}
.overrides-toast-exception.x-window-body-default{
	border-color:rgba(52, 73, 94, 0.88);
	background-color:rgba(52, 73, 94, 0.1);
}
.overrides-toast-exception .x-autocontainer-outerCt{
	letter-spacing:0.5px;
	font-weight:bold;
}
