<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:sec="http://www.springframework.org/schema/security"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
  
    <!-- 配置不过滤的资源（静态资源及登录相关） -->  
    <sec:http pattern="/**/*.css" security="none"></sec:http>
    <sec:http pattern="/**/*.jpg" security="none"></sec:http>
    <sec:http pattern="/**/*.jpeg" security="none"></sec:http>
    <sec:http pattern="/**/*.gif" security="none"></sec:http>
    <sec:http pattern="/**/*.png" security="none"></sec:http> 
    <sec:http pattern="/**/*.js" security="none"></sec:http>
    <sec:http pattern="/getCode" security="none" /><!-- 不过滤验证码 -->
    <sec:http pattern="/test/**" security="none"></sec:http><!-- 不过滤测试内容 -->
    <sec:http pattern="/login.htm" security="none" />  
      
     <!-- access:
    	IS_AUTHENTICATED_ANONYMOUSLY 允许匿名用户进入
		IS_AUTHENTICATED_FULLY 允许登录用户进入
		IS_AUTHENTICATED_REMEMBERED 允许登录用户和rememberMe用户进入
     -->  
     <!-- 
     	always-use-default-target="true" 不管是直接请求登录页面，还是通过Spring Security引导过来的，登录之后都跳转到指定的页面
     -->
    <sec:http auto-config="true" use-expressions="true"  > 
    	<!-- 登录 --> 
	        <sec:form-login login-page="/login.htm" 
	        	password-parameter="password" username-parameter="account"
	        	authentication-success-handler-ref="loginStatusHandler"
	        	authentication-failure-handler-ref="loginStatusHandler"
	        	login-processing-url="/login.do" />
        	<!-- 退出 -->
        	 <sec:logout invalidate-session="true"  success-handler-ref="logoutSuccessHandlerImpl" logout-url="/logout.do"  /> 
        	<!-- 访问拒绝 -->
        	 <sec:access-denied-handler ref="accessDeniedHandlerImpl"/>
        	<sec:csrf disabled="true" /> 
	        <sec:intercept-url  pattern="/**"  access="isAuthenticated()"/>
	 	 	<sec:custom-filter after="FILTER_SECURITY_INTERCEPTOR" ref="resourceAuthorityFilter"/>
          <sec:session-management >  
            <sec:concurrency-control  max-sessions="1"  error-if-maximum-exceeded="false"   />  
         </sec:session-management>  
    </sec:http>
      
 	<bean id="loginStatusHandler" class="com.huangtl.blogmgr.core.security.LoginStatusHandler">
 		<property name="loginLogService" ref="loginLogService"></property>
 	</bean>
 	<bean id="logoutSuccessHandlerImpl" class="com.huangtl.blogmgr.core.security.LogoutSuccessHandlerImpl"></bean>
 	<bean id="accessDeniedHandlerImpl" class="com.huangtl.blogmgr.core.security.AccessDeniedHandlerImpl"></bean>
 	
 	<bean id="resourceAuthorityFilter" class="com.huangtl.blogmgr.core.security.ResourceAuthorityFilter">
 		<property name="privilegeService" ref="privilegeService"></property>
 	</bean>
 	
    <!-- 配置用户管理  -->
     <sec:authentication-manager alias="authenticationManager">
     	<sec:authentication-provider  user-service-ref="userDetailsServiceImpl">
     		<sec:password-encoder hash="md5" />
     	</sec:authentication-provider>
     </sec:authentication-manager>
    
     <bean id="userDetailsServiceImpl" class="com.huangtl.blogmgr.service.impl.UserDetailsServiceImpl">
     	<property name="userDao" ref="userDao"></property>
     	<property name="roleDao" ref="roleDao"></property>
     </bean>
    
      
</beans> 