<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:sec="http://www.springframework.org/schema/security"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
  
    <!-- 配置不过滤的资源（静态资源及登录相关） -->  
    <sec:http pattern="/**/*.css" security="none"></sec:http>
    <sec:http pattern="/**/*.jpg" security="none"></sec:http>
    <sec:http pattern="/**/*.jpeg" security="none"></sec:http>
    <sec:http pattern="/**/*.gif" security="none"></sec:http>
    <sec:http pattern="/**/*.png" security="none"></sec:http> 
    <sec:http pattern="/**/*.js" security="none"></sec:http>
    <sec:http pattern="/login.htm" security="none"></sec:http>
    <sec:http pattern="/getCode" security="none" /><!-- 不过滤验证码 -->
    <sec:http pattern="/test/**" security="none"></sec:http><!-- 不过滤测试内容 -->  
      
     <!-- access:
    	IS_AUTHENTICATED_ANONYMOUSLY 允许匿名用户进入
		IS_AUTHENTICATED_FULLY 允许登录用户进入
		IS_AUTHENTICATED_REMEMBERED 允许登录用户和rememberMe用户进入
     -->  
    <sec:http auto-config="true">
        <!-- <sec:intercept-url pattern="/app.jsp" access="ROLE_SERVICE"/>   -->
        <sec:intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <sec:form-login login-page="/login.htm" authentication-failure-forward-url="/login.htm"/>
    </sec:http>
      
    <!-- 配置用户管理 -->
    <sec:authentication-manager>
        <sec:authentication-provider>
            <sec:user-service >
                <sec:user name="admin" password="admin" authorities="ROLE_ADMIN"/>  
            </sec:user-service>
        </sec:authentication-provider>
    </sec:authentication-manager>
      
</beans> 