@CHARSET "UTF-8";
/*图片icon*/
.img-icon{
	
}
.img-icon-detail {
    background-image:url(../images/icons/application_view_list.png) !important;
 }
.img-icon-task-start{
 	background:url(../images/icons/check2.png) no-repeat scroll 0px 0px;
 }
.img-icon-task-finished{
 	background:transparent url(../images/icons/check2.png) no-repeat scroll 0px -16px;
 }
 .img-icon-show-task-active{
 	background:transparent url(../images/icons/show_active.png) no-repeat scroll ;
 }
 .img-icon-show-task-all{
 	background:transparent url(../images/icons/show_all.png) no-repeat scroll ;
 }
 .img-icon-show-task-complete{
 	background:transparent url(../images/icons/show_complete.png) no-repeat scroll ;
 }